<div class="cars-container container">
    <div class="row justify-content-between">
        <div *ngFor="let student of listStudents" class="list text-black py-2 me-3 col-3 mb-3 flex-column">
            <p class="name">
               <strong>Name :</strong> {{ student.name }}
            </p>
            <p class="address">
                <strong>Address :</strong> {{ student.email }}
            </p>
            <p class="date-of-birth">
                <strong>Date of Birth :</strong> {{ student.dateOfBirth }}
            </p>
            <p class="age">
                <strong>Age :</strong> {{ student.age }}
            </p>
            <button class="btn btn-dark">
                Details
            </button>
    </div>
    </div>
</div>