<navbar></navbar>
<div class="container" style="max-width: 1700px;">
        <div class="row">
            <div class="loader co-12 text-dark" *ngIf="dataAvailable && listStudents.length == 0 && !noData">L &nbsp; ading</div>
        </div>
            <list-students *ngIf="dataAvailable && listStudents.length > 0" [listStudents]="listStudents" (newItemEvent)="checkElements()"></list-students>
            <app-not-found *ngIf="!dataAvailable"></app-not-found>
            <div *ngIf="noData" class="text-dark">Non ci sono dati Disponibili</div>
</div>

<div class="primary">
    <p class="font-size"></p>
</div>