<section class="page_404">
	<div class="container">
		<div class="row justify-content-center">	
		<div class="col-12">
		<div class="col-sm-12 text-center">
		<div class="four_zero_four_bg">
			<h1 class="text-center ">Error 404</h1>
		</div>


				
		<div class="contant_box_404">
			<h3 *ngIf="!dataAvailable" class="col-12 mb-4">
				dati non disponibili avvia il server per recuperare i dati
			</h3>
		</div>
		
		
		<p class="">questa pagina non è disponibile</p>
		
		<a href="" class="link_404">Torna alla HomePage <i class="ms-1 fa-solid fa-house"></i></a>
	</div>
		</div>
		</div>
		</div>
</section>